
<h3>Basic Buttons</h3>
<div class="button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button routerLink=".">Link</a>
</div>

<!--<div fxLayout="column" fxFlex>-->

    <!--<mat-toolbar color="primary">-->
        <!--<mat-toolbar-row>-->
            <!--<span>Angular Material</span>-->
        <!--</mat-toolbar-row>-->
    <!--</mat-toolbar>-->

    <!--<mat-sidenav-container fxFlex>-->
        <!--<mat-sidenav mode="side" opened>-->
            <!--<mat-tab-group>-->
                <!--<mat-tab label="Users">-->
                    <!--<mat-nav-list>-->
                        <!--<mat-list-item *ngFor="let user of users">-->
                            <!--<span>{{user.name}}</span>-->
                        <!--</mat-list-item>-->
                    <!--</mat-nav-list>-->
                <!--</mat-tab>-->
                <!--<mat-tab label="Settings">-->
                    <!--<span>Settings</span>-->
                <!--</mat-tab>-->
            <!--</mat-tab-group>-->
        <!--</mat-sidenav>-->


        <!--<div class="content">-->
            <!--Page Content-->
        <!--</div>-->
    <!--</mat-sidenav-container>-->

<!--</div>-->